#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
/*    background-color: transparent; */ /* Set a background color */
    background-color: rgba(255, 255, 255, 0.8); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-left: 10px; /* Some padding */
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#toTop:hover {
    background-color: rgba(5, 5, 5, 0.5); /* Add a dark-grey background on hover */
}
